
<head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>DOCTOR STRANGE</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header style="background-image:url('images/fondo.jpeg');">
         <!-- header inner -->
         <div class="header-top" >
            <div class="header">
               <div class="container" >
                  <div class="row" >
                     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                           <div class="center-desk">
                              <div class="logo">
                                 <a ><img src="images/ds-titulo.png" alt="#" /></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                        <div class="menu-area">
                           <div class="limit-box">
                              <nav class="main-menu">
                                 <ul class="menu-area-main">
                                    <li> <a href="#jewellery">Organizaciones</a> </li>
                                    <li> <a href="#clients">Escenarios</a> </li>
                                    <li> <a href="#heroes">Héroes</a> </li>
                                    <li> <a href="#registro">Registro</a> </li>
                                    <li> <a href="#datos">Datos</a> </li>
                                    <li> <a href="https://app.gitbook.com/o/WOtrpPAoVPhVmuHJGloM/s/33FBIhsV4wCy5yIno0DW/escuadron-salchichon/nosotros">Nosotros</a> </li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end header inner -->
            <!-- end header -->
            <section class="slider_section">
               <div class="banner_main" >
                  <div class="container" >
                     <div class="row d_flex" >
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 ">
                           <div class="text-bg">
                              <h1 style="font-family: Marvel; color: white">DOCTOR STRANGE</h1>
                              <span style="font-family: Marvel; color: white">in the Multiverse of Madness<br> 
                              <strong class="land_bold" style="font-family: Marvel">(The Game)</strong></span>
                              <a href="#" style="font-family: Marvel">JUGAR</a>

                           </div>
                        </div>
                        
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </header>

      <br>
      <br>
<div class="container" >
      <div class="titlepage">
                     <h2 style="font-family: Marvel">BIENVENIDO A LA WEB </h2>
                     <h5 style="font-family: Marvel">El Doctor Strange, como Maestro de las Artes Místicas, es uno de los encargados de proteger la Gema del Tiempo. Esta piedra tiene la capacidad de controlar el tiempo y, con ello, la
capacidad de crear nuevos universos alternativos. Este conjunto de universos alternativos (denominados multiverso) representan las diferentes realidades provocadas por distintos finales de un 
evento concreto (por ejemplo, una batalla), siendo habitualmente consecuencia de los viajes en
el tiempo. En esta película, la Gema del Tiempo cae en malas manos, abriendo un abanico de
universos paralelos en los que nuestros superhéroes no siguen las pautas habituales.</h5>
<h5 style="font-family: Marvel">En este contexto, los creativos de StanLeeGames S.L. han pensado que DOCTOR STRANGE TM in the
Multiverse of Madness (The game), debido a los múltiples universos paralelos, podría presentar
distintos escenarios donde nuestros superhéroes, habitualmente amigos, estarían enemistados,
crearían sus propias bandas y lucharían para imponer su propio orden.</h5>
<h5 style="font-family: Marvel">En resumen, el típico juego de lucha uno-contra-uno, donde cada jugador selecciona un equi-
po de superhéroes y luchan entre ellos hasta que solo uno queda en pie.</h5>
                  </div>
                  </div>
      
      
      
      <!-- Best  -->
      <div id="jewellery" class="Best">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="font-family: Marvel">ORGANIZACIONES</h2>
                     <p style="font-family: Marvel">Las organizaciones son agrupaciones de superhéroes que, con el objetivo de conseguir alguna o varias misiones, se conformaron a lo largo del tiempo. Habitualmente, todos los superhéroes pertenecen (o han pertenecido) a una o varias de ellas y siempre hay un lider.
                     Antes de seleccionar el escenario donde tendrá lugar la lucha, cada uno de los jugadores debe afiliarse a una organización del juego. Esto le permitirá obtener ventajas a la hora de seleccionar,como miembros de su equipo, a superhéroes afiliados a dicha organización.
                     Las organizaciones del juego se establecen a partir de los superhéroes protagonistas del juego, por ello, inicialmente, tendremos disponibles las siguientes: A-Force, Avengers, Mercs for Money, League of Realms, Strange Academy y X-Men</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="best_main">
                     <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text">
                              <p style="font-family: Marvel">Strange Academy te llevará a Nuevo Orleans, donde reside la Academia, para que te embarques en esta aventura de magia y súper poderes. Sin olvidar, claro está, que los estudiantes de esta escuela son adolescentes, por lo que, la historia contiene ese camino tan confuso a veces, de crecer, y más aún, cuando no sólo tienes que enfrentarte a la adultez, sino también a controlar tus poderes. </p>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img">
                              <figure><img src="images/logo_strangeAcademy.png"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="best_main">
                     <div class="row d_flex">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img croos_rt">
                              <figure><img src="images/logo_xmen.png"></figure>
                           </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text flot_left">
                              <p style="font-family: Marvel">La mayoría de los X-Men son mutantes, una sub-especie de humanos que nacen con habilidades sobrehumanas activadas por el gen "Factor-X". Los X-Men luchan por la paz y la igualdad entre humanos y mutantes en un mundo donde el fanatismo anti-mutante es feroz y generalizado.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="best_main pa_bot">
                     <div class="row d_flex">
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                           <div class="best_text">
                              <p style="font-family: Marvel">Los Vengadores fueron un equipo compuesto por personas extraordinarias, individuos alterados u otras características especiales, que se encargaba de proteger la Tierra de las amenazas internacionales o alienígenas.</p>
                           </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                           <div class="best_img d_none">
                              <figure><img src="images/logo_avengers.png"></figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Best -->

      <!-- clients -->
      <div id="clients" class="clients ">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="font-family: Marvel">ESCENARIOS</h2>
                     <p style="font-family: Marvel">Las partidas siempre se desarrollan en el ámbito de un escenario del juego. De esta manera, una vez seleccionada la organización de cada uno de los participantes, el jugador que ha iniciado la partida deberá seleccionar uno de los posibles escenarios del juego.</p>
                  </div>
               </div>
            </div>
            <div class="row d_flex">
               <div class="col-md-10 offset-col-md-1">
                  <div id="myCarousel" class="carousel slide clients_slider" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row d_flex">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 pa_rile">
                                       <div class="img_box">
                                          <figure><img src="images/sanctorum.jpg" alt="#"/></figure>
                                       </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa_rile">
                                       <div class="joe">
                                          <h3 style="font-family: Marvel">Santum Sanctorum</h3>
                                          <p style="font-family: Marvel">La mansión del Doctor Stephen Strange se encuentra en el número 177A de Bleecker Street, en New York City. Justo en la esquina de Bleecker Street con Fenno Palace, en pleno corazón de Greenwich Village. Conocida como Sanctum Sanctorum, la mansión sirve como residencia del doctor y, con anterioridad, sirvió como cuartel general de los Defenders y de New Avengers.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row d_flex">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 pa_rile">
                                       <div class="img_box">
                                          <figure><img src="images/school.jpg" alt="#"/></figure>
                                       </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa_rile">
                                       <div class="joe">
                                          <h3 style="font-family: Marvel">Xavier’s School for Gifted Youngsters</h3>
                                          <p style="font-family: Marvel">Massachusetts Academy fue un colegio fundado en 1700 en Berkshire Mountains of Snow Valley, Massachusetts. La academia fue uno de los colegios más antiguos y respetados de los Estados Unidos. Tras varios cambios de dirección, se hizo cargo de ella el Professor Charles Xavier que lo convirtió en un centro de enseñanzas para mutantes..</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row d_flex">
                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 pa_rile">
                                       <div class="img_box">
                                          <figure><img src="images/stark_tower.png" alt="#"/></figure>
                                       </div>
                                    </div>
                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa_rile">
                                       <div class="joe">
                                          <h3 style="font-family: Marvel">Torre Stark</h3>
                                          <p style="font-family: Marvel">La Stark Tower fue diseñada por Tony Stark con la intención de que se convirtiese en un faro de la arquitectura moderna. El edificio fue construido en la intersección de la 58 con Broadway, en el vecindario de Columbus Circle, a aproximadamente 10 bloques al norte del Baxter Building, cuartel general de los Fantastic Four.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- end clients -->
      <!-- personajes -->

      <div class="container" id="heroes">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="font-family: Marvel">HÉROES</h2>
                     <p style="font-family: Marvel">Los equipos de cada uno de los jugadores están formados por superhéroes. Antes de comenzarla lucha, los jugadores, mediante el uso de las monedas iniciales que les asigna el escenario seleccionado, configuran su equipo, seleccionando aquellos superhéroes que creen más interesantes.El número de superhéroes que se deben seleccionar también viene determinado por el escenario.</p>
                  </div>
               </div>
            </div>
      </div>

      <div>
         <table align="center">
            <tr>
               <td>
                  <div class="col" align="center">
                     <div class="row">
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/526548a343e4b.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Spider-Man</h5>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/9/90/5261a86cacb99.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Dead Pool</h5>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/7/00/545a82f59dd73.jpg" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Hunter Angel</h5>
                          </div>
                        </div>
                     </div>



                     <div class="row">
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/9/c0/527bb7b37ff55.jpg" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Iron Man</h5>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/d/d0/5269657a74350.jpg" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Thor</h5>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/3/50/537ba56d31087.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Capitán América</h5>
                          </div>
                        </div>
                     </div>



                     <div class="row">
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/8/f0/53176bbb6dc50.jpg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Doctor Strange</h5>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/6/40/526963dad214d.jpg" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel"> Storm</h5>
                          </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                          <img src="http://i.annihil.us/u/prod/marvel/i/mg/5/a0/538615ca33ab0.jpg" alt="...">
                          <div class="card-body">
                            <h5 class="card-title" style="font-family: Marvel">Hulk</h5>
                          </div>
                        </div>
                     </div>
                  </div>
               </td>
            </tr>
         </table>
      </div>

      <!-- end personajes -->



      <!-- registro-->
      <!--nos dirige a usuarioForm u usuarioTable-->
<div class="container" id="registro">
   <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="font-family: Marvel">REGISTRO</h2>
                     <p style="font-family: Marvel">Si quieres crearte un usuario con el que poder jugar rellena el siguiente formulario: </p>
                  </div>
               </div>
            </div>
          <div class="row">
                    <div class="col-md-5">
                    {{> usuarios/usuarioForm}}          
                    </div>
                    <div class="col-md-7">
                    {{> usuarios/usuarioTable}}     
                    </div>
                    

          </div>


</div>
<!--end registro-->

      <!-- datos -->

      <div class="container" id="datos">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2 style="font-family: Marvel">DATOS</h2>
                     <p style="font-family: Marvel">Aquí te mostramos los datos actuales sobre nuestra aplicación; estos datos son evaluados para el correcto balanceo del juego y poder así conseguir una mayor diversión.</p>
                     <h6>¡A luchar!</h6>
                  </div>
               </div>
            </div>
      </div>

      <table align="center" width="100%">
         <tr>
            <td>
               <div class="col" align="center">
                  <div class="row">
                     <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-lpccj/embed/charts?id=daf860a9-0558-4a1a-8884-159e3192ece3&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
                  </div>
                  <div class="row">
                     <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-lpccj/embed/charts?id=bfd9478b-1b4d-42eb-89c8-8ba49f39768d&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
                  </div>
                  <div class="row">
                     <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-lpccj/embed/charts?id=ea153e4d-372c-4f33-abdd-95c8e534b9e8&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
                  </div>
                  <div class="row">
                     <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-lpccj/embed/charts?id=7fcc97f5-3986-40c3-84c1-d17556b930d4&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
                  </div>
                  <div class="row">
                  <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-lpccj/embed/charts?id=d5796f71-f25c-4c94-9e09-3e1bab89897d&maxDataAge=1209600&theme=light&autoRefresh=true"></iframe>
                  </div>
               </div>
            </td>
          </tr>
      </table>


         


      <!-- end datos -->
      <!--  footer -->
      <footer style="background-color: #d90101">
         <table align="center"style="width: 100%">
            <tr>
               <td align="left">© 2021 Escuadrón Salchichón</td>
               <td align="right"><a href="https://app.gitbook.com/o/WOtrpPAoVPhVmuHJGloM/s/33FBIhsV4wCy5yIno0DW/escuadron-salchichon/nosotros" style="align-content: right"><img src="images/logo_gitbook.png" alt="#" /></a></td>
            </tr>
         </table>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    
   </body>
</html>








