<!--nos dirige a usuarioForm u usuarioTable-->
<div class="container">
          <div class="row">
                    <div class="col-md-5">
                    {{> usuarios/usuarioForm}}          
                    </div>
                    <div class="col-md-7">
                    {{> usuarios/usuarioTable}}     
                    </div>

          </div>


</div>


