<div class="card card-body p-4 rounded-0 bg-black text-white">


<!--Formulario html-->
<form action="/usuarios/add" method="POST">
<h3 for="title" >USUARIO</h3>
  <label for="title">¿No has iniciado sesión? Regístrate</label>
  <div>
    <label for="Correo">Nombre:</label>
    <input type="text" name="Nombreusuario" id="Nombreusuario" class="form-control rounded-0 " />
  </div>
  <div>
    <label for="Correo">Correo:</label>
    <input type="text" name="Correo" id="Correo" class="form-control rounded-0 "/>
  </div>
  <div>
    <label for="Contrasenia">Contraseña:</label>
    <input type="password" name="Contrasenia" id="Contrasenia"class="form-control rounded-0 " />
  </div>
  <div>
    <label for="Telefono">Teléfono:</label>
    <input
      type="number"
      minlength="9"
      maxlength="9"
      name="Telefono"
      id="Telefono"
      class="form-control rounded-0 "
    />
  </div>
  <div>
    <label for="Genero">Género:</label>
    <input type="text" name="Genero" id="Genero" class="form-control rounded-0 " />
  </div>
  <div>
    <label for="Pais">País:</label>
    <input type="text" name="Pais" id="Pais" class="form-control rounded-0 "/>
  </div>
  <div>
    <label for="Edad">Edad:</label>
    <input type="number" name="Edad" id="Edad" class="form-control rounded-0 "/>

  </div>
  <button class="btn btn-primary btn-sm mt-2">Registrarse</button>
</form>
</div>




